:root{
    --project-size: 300px;
    --background-color1: white;
    --background-color2: rgba(19, 42, 62, 1);
    --background-color3: black;
    --color-accent1: rgba(236, 213, 193, 1);
    --color-welcome: black;
    --color-project-link: white;
    --color-contact: white;
    --navbar-hover: rgba(19, 42, 62, 1);;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    margin: 0px;
    padding: 0px;
  }
  
  #navbar{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 12vh; 
    background-color: var(--background-color1);
    border-bottom: 3px solid var(--color-accent1);
    z-index: 2;
    opacity: 0.98;
  }
  
  ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
  }

  #navbar a{
    text-decoration: none;
    color: var(--color-accent1);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px;
  }
  
  #navbar a:hover{
    color: var(--navbar-hover);
  }
  
  /* Start Welcome */
  #welcome-section{
    background: linear-gradient(
      var(--background-color1),
      var(--background-color2)
    );
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #welcome-section h1{
    text-align: center;
    color: var(--color-welcome);
    font-size: 3rem;
  }
  
  #welcome-section h2{
    margin-top: 10px;
    text-align: center;
    color: var(--color-accent1);
    font-size: 1.5rem;
  }
  /* End Welcome */
  
  /* Start Projects */
  #projects{
    background-color: var(--background-color2);
    padding: 30px;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    overflow: hidden;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 50px;
    grid-template-rows: auto;
  }
  
  .project{
    display: inherit;
    height: var(--project-size);
    width: var(--project-size);
  }
  
  #projects img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 4px solid var(--color-accent1);
  }
  
  .img-link {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--project-size);
    width: var(--project-size);
    transition: .5s ease;
    z-index: 1;
  }
  
  #img-link1, #project1 img, #project1{
    grid-area: 1 / 1;
  }
  
  #img-link2, #project2 img, #project2{
    grid-area: 1 / 2;
  }
  
  #img-link3, #project3 img, #project3{
    grid-area: 1 / 3;
  }
  
  #projects a{
    text-decoration: none;
    color: var(--color-project-link);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 10px;
  }
  
  .project:hover img{
    opacity: 0.3;
  }
  
  .project:hover .img-link{
    opacity: 1;
  }

  #projects a:hover{
    color: var(--color-accent1);
  }
  /* End Projects */
  
  /* Start Contact */
  #contact{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      var(--background-color2),
      var(--background-color3)
    );
  }
  
  #contact h1{
    text-align: center;
    color: var(--color-contact);
    font-size: 3rem;
  }
  
  #contact h2{
    margin-top: 10px;
    text-align: center;
    color: var(--color-accent1);
    font-size: 1.5rem;
  }
  
  .icon-container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  
  .fa-brands, .fa-solid{
    color: var(--color-accent1);
    font-size: 3rem;
    margin: 40px;
    transition: 0.5s ease;
  }
  
  .fa-brands:hover, .fa-solid:hover{
    transform: scale(1.5);
    transition: 0.5s ease;
  }
  /* End Contact */

  @media only screen and (max-width: 1035px){

    #projects{
        grid-template-columns: auto auto;
        grid-template-rows: repeat(2, auto);
    }

    #img-link1, #project1 img, #project1{
        grid-area: 1 / 1;
      }
      
    #img-link2, #project2 img, #project2{
        grid-area: 1 / 2;
      }
      
    #img-link3, #project3 img, #project3{
        grid-area: 2 / 1;
      }
  }

  @media only screen and (max-width: 685px){
    ul{
        justify-content: center;
    }

    #projects{
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
    }

    #img-link1, #project1 img, #project1{
        grid-area: 1 / 1;
      }
      
    #img-link2, #project2 img, #project2{
        grid-area: 2 / 1;
      }
      
    #img-link3, #project3 img, #project3{
        grid-area: 3 / 1;
      }

    .fa-brands, .fa-solid{
        margin: 20px;
    }
  }